---
import BaseLayout from '../layouts/BaseLayout.astro';
import { fetchProjects } from '../data/projects';

const base = import.meta.env.BASE_URL;
const projects = await fetchProjects();
---

<BaseLayout title="Grayscale - projects" description="Projects done by us">

  <section class="projects-section bg-light" id="projects">

    <div class="container px-4 px-lg-5">

      {
        projects.map((project, index) => (

          <Fragment>

            <!-- Parent Project -->

             <div class="row gx-0 mb-4 mb-lg-5 align-items-center">

              <div class="col-xl-8 col-lg-7">
                <img
                  class="img-fluid mb-3 mb-lg-0"
                  src={project.imageurl}
                  alt={project.title}
                />
              </div>

              <div class="col-xl-4 col-lg-5">

                <div class="featured-text text-center text-lg-left">

                  <h4 class="text-white">
                    {project.title}
                  </h4>

                  <p class="mb-0 text-white-50">
                    {project.content}
                  </p>

                </div>

              </div>

            </div>
 
            <!-- Child Projects -->

            {
              project.children.map((child, childIndex) => (
<a href={`${base}project/${child.id}`}>
  
                <div
                  class={`row gx-0 mb-5 mb-lg-0 justify-content-center ${
                    childIndex % 2 !== 0 ? 'flex-row-reverse' : ''
                  }`}
                >

                  <div class="col-lg-6">

                    <img
                      class="img-fluid"
                      src={child.imageurl}
                      alt={child.title}
                    />

                  </div>

                  <div class={`col-lg-6 ${
                    childIndex % 2 !== 0 ? 'order-lg-first' : ''
                  }`}>

                    <div class="bg-black text-center h-100 project">

                      <div class="d-flex h-100">

                        <div class={`project-text w-100 my-auto text-center ${
                          childIndex % 2 !== 0
                            ? 'text-lg-right'
                            : 'text-lg-left'
                        }`}>

                          <h4 class="text-white">
                            {child.title}
                          </h4>

                          <p class="mb-0 text-white-50">
                            {child.content}
                          </p>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>
              </a>

              ))
            }

          </Fragment>

        ))
      }

    </div>

  </section>

</BaseLayout>
